/* Devin "Lauren" Elder */
/* ASD Term 1306 */
/* ASD Application */
/* 06/14/2013 */

.clickable {
	margin-right: 10px;
	margin-left: 10px;
}
h3 {
	text-align: center;
}
p {
	margin-right: 10px;
	margin-left: 25px;
}
button {
	margin-right: 10px;
	margin-left: 10px;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}